#collapsible-nav-dropdown {
  background-color: pink;
  border-radius: 20%;
}

.div.dropdown-menu.show {
  background-color: pink
}

.show .dropdown .nav-item {
  background-color: pink
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: pink !important
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  background-color: yellow
}

body {
  background-color: #797979
}